# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# /tools/
tools/ATLAS/
tools/atlas3.8.3.tar.gz
tools/irstlm/
tools/openfst
tools/openfst-1.3.2.tar.gz
tools/openfst-1.3.2/
tools/openfst-1.3.4.tar.gz
tools/openfst-1.3.4/
tools/pa_stable_v19_20111121.tgz
tools/portaudio/
tools/sctk-2.4.0-20091110-0958.tar.bz2
tools/sctk-2.4.0/
tools/sph2pipe_v2.5.tar.gz
tools/sph2pipe_v2.5/

# /src/
/src/kaldi.mk*

# /src/base/
/src/base/.depend.mk
/src/base/kaldi-math-test
/src/base/io-funcs-test
/src/base/kaldi-error-test

# /src/bin/
/src/bin/.depend.mk
/src/bin/post-to-tacc
/src/bin/sum-matrices
/src/bin/align-mapped
/src/bin/align-equal
/src/bin/compute-wer
/src/bin/arpa2fst.cc
/src/bin/ali-to-phones
/src/bin/ali-to-post
/src/bin/acc-lda
/src/bin/copy-gselect
/src/bin/copy-tree
/src/bin/scale-post
/src/bin/dot-weights
/src/bin/weight-post
/src/bin/copy-matrix
/src/bin/copy-vector
/src/bin/sum-post
/src/bin/draw-tree
/src/bin/thresh-post
/src/bin/hmm-info
/src/bin/align-equal-compiled
/src/bin/acc-tree-stats
/src/bin/show-alignments
/src/bin/compile-questions
/src/bin/cluster-phones
/src/bin/make-h-transducer
/src/bin/add-self-loops
/src/bin/convert-ali
/src/bin/compile-train-graphs
/src/bin/arpa2fst
/src/bin/compile-train-graphs-fsts
/src/bin/make-pdf-to-tid-transducer
/src/bin/make-ilabel-transducer
/src/bin/show-transitions
/src/bin/est-lda
/src/bin/ali-to-pdf
/src/bin/weight-silence-post
/src/bin/est-mllt
/src/bin/build-tree
/src/bin/build-tree-two-level
/src/bin/decode-faster
/src/bin/scale-vecs
/src/bin/decode-faster-mapped
/src/bin/copy-transition-model
/src/bin/rand-prune-post
/src/bin/phones-to-prons
/src/bin/prons-to-wordali
/src/bin/compute-mce-scale
/src/bin/get-silence-probs
/src/bin/post-to-weights
/src/bin/reverse-weights
/src/bin/sum-tree-stats
/src/bin/copy-int-vector
/src/bin/copy-int-vector-vector
/src/bin/align-compiled-mapped
/src/bin/latgen-faster-mapped
/src/bin/analyze-counts
/src/bin/am-info
/src/bin/build-pfile-from-ali
/src/bin/copy-post
/src/bin/duplicate-matrix
/src/bin/extract-ctx
/src/bin/get-post-on-ali
/src/bin/latgen-faster-mapped-parallel
/src/bin/latgen-tracking-mapped
/src/bin/logprob-to-post
/src/bin/matrix-logprob
/src/bin/matrix-sum
/src/bin/pdf-to-counts
/src/bin/post-to-pdf-post
/src/bin/post-to-phone-post
/src/bin/prob-to-post
/src/bin/tree-info
/src/bin/vector-scale
/src/bin/vector-sum

# /src/cudamatrix/
/src/cudamatrix/.depend.mk
/src/cudamatrix/cuda-matrix-test

# /src/decoder/
/src/decoder/.depend.mk

# /src/feat/
/src/feat/feature-mfcc-test
/src/feat/feature-plp-test
/src/feat/feature-fbank-test
/src/feat/.depend.mk

# /src/featbin/
/src/featbin/.depend.mk
/src/featbin/compute-spectrogram-feats
/src/featbin/extract-feature-segments
/src/featbin/compute-mfcc-feats
/src/featbin/compute-fbank-feats
/src/featbin/compute-cmvn-stats
/src/featbin/add-deltas
/src/featbin/remove-mean
/src/featbin/apply-cmvn
/src/featbin/transform-feats
/src/featbin/copy-feats
/src/featbin/compose-transforms
/src/featbin/splice-feats
/src/featbin/extract-segments
/src/featbin/subset-feats
/src/featbin/feat-to-len
/src/featbin/feat-to-dim
/src/featbin/fmpe-apply-transform
/src/featbin/fmpe-acc-stats
/src/featbin/fmpe-init
/src/featbin/fmpe-est
/src/featbin/fmpe-copy
/src/featbin/fmpe-sum-accs
/src/featbin/append-feats
/src/featbin/extend-transform-dim
/src/featbin/get-full-lda-mat
/src/featbin/reverse-feats
/src/featbin/compute-plp-feats
/src/featbin/add-deltas-sdc
/src/featbin/apply-cmvn-sliding
/src/featbin/compare-feats
/src/featbin/compute-cmvn-stats-two-channel
/src/featbin/compute-kaldi-pitch-feats
/src/featbin/copy-feats-to-htk
/src/featbin/copy-feats-to-sphinx
/src/featbin/extract-rows
/src/featbin/interpolate-pitch
/src/featbin/paste-feats
/src/featbin/process-kaldi-pitch-feats
/src/featbin/process-pitch-feats
/src/featbin/select-feats
/src/featbin/subsample-feats
/src/featbin/wav-to-duration

# /src/fgmmbin/
/src/fgmmbin/.depend.mk
/src/fgmmbin/fgmm-global-acc-stats
/src/fgmmbin/fgmm-global-sum-accs
/src/fgmmbin/fgmm-global-est
/src/fgmmbin/fgmm-global-merge
/src/fgmmbin/fgmm-global-to-gmm
/src/fgmmbin/fgmm-gselect
/src/fgmmbin/fgmm-global-get-frame-likes
/src/fgmmbin/fgmm-global-acc-stats-twofeats
/src/fgmmbin/fgmm-global-copy
/src/fgmmbin/fgmm-global-mixdown
/src/fgmmbin/fgmm-global-gselect-to-post
/src/fgmmbin/fgmm-global-info

# /src/fstbin/
/src/fstbin/.depend.mk
/src/fstbin/example
/src/fstbin/fstcopy
/src/fstbin/fstpush-kaldi
/src/fstbin/fsttoindex
/src/fstbin/fstunion-kaldi
/src/fstbin/fstminimize-kaldi
/src/fstbin/fstdeterminize-kws
/src/fstbin/fstdeterminizestar
/src/fstbin/fstrmsymbols
/src/fstbin/fstisstochastic
/src/fstbin/fstminimizeencoded
/src/fstbin/fstmakecontextfst
/src/fstbin/fstmakecontextsyms
/src/fstbin/fstaddsubsequentialloop
/src/fstbin/fstaddselfloops
/src/fstbin/fstrmepslocal
/src/fstbin/fstcomposecontext
/src/fstbin/fsttablecompose
/src/fstbin/fstrand
/src/fstbin/fstfactor
/src/fstbin/fstdeterminizelog
/src/fstbin/fstphicompose
/src/fstbin/fstpropfinal
/src/fstbin/fstpushspecial
/src/fstbin/fstrhocompose
/src/fstbin/fsts-to-transcripts

# /src/fstext/
/src/fstext/.depend.mk
/src/fstext/lattice-utils-test
/src/fstext/deterministic-fst-test
/src/fstext/determinize-lattice-pruned-test
/src/fstext/determinize-star-test
/src/fstext/pre-determinize-test
/src/fstext/trivial-factor-weight-test
/src/fstext/context-fst-test
/src/fstext/factor-test
/src/fstext/table-matcher-test
/src/fstext/fstext-utils-test
/src/fstext/remove-eps-local-test
/src/fstext/rescale-test
/src/fstext/lattice-weight-test
/src/fstext/determinize-lattice-test

# /src/gmm/
/src/gmm/.depend.mk
/src/gmm/diag-gmm-test
/src/gmm/mle-diag-gmm-test
/src/gmm/full-gmm-test
/src/gmm/mle-full-gmm-test
/src/gmm/am-diag-gmm-test
/src/gmm/mle-am-diag-gmm-test
/src/gmm/ebw-diag-gmm-test

# /src/gmmbin/
/src/gmmbin/.depend.mk
/src/gmmbin/gmm-sum-accs
/src/gmmbin/gmm-acc-mllt
/src/gmmbin/gmm-mixup
/src/gmmbin/gmm-acc-hlda
/src/gmmbin/gmm-est-hlda
/src/gmmbin/gmm-init-et
/src/gmmbin/gmm-est-et
/src/gmmbin/gmm-et-acc-a
/src/gmmbin/gmm-et-get-b
/src/gmmbin/gmm-copy-et
/src/gmmbin/gmm-et-est-a
/src/gmmbin/gmm-et-get-a
/src/gmmbin/gmm-est-fmllr
/src/gmmbin/gmm-copy
/src/gmmbin/gmm-gselect
/src/gmmbin/gmm-info
/src/gmmbin/gmm-diff-accs
/src/gmmbin/gmm-est-map
/src/gmmbin/gmm-est
/src/gmmbin/gmm-init-mono
/src/gmmbin/gmm-align
/src/gmmbin/gmm-acc-stats
/src/gmmbin/gmm-global-sum-accs
/src/gmmbin/gmm-latgen-biglm-faster
/src/gmmbin/gmm-ismooth-stats
/src/gmmbin/gmm-global-get-frame-likes
/src/gmmbin/gmm-global-est-fmllr
/src/gmmbin/gmm-global-to-fgmm
/src/gmmbin/gmm-global-copy
/src/gmmbin/gmm-align-compiled-plusphones
/src/gmmbin/gmm-get-feat-deriv
/src/gmmbin/gmm-fmpe-acc-stats
/src/gmmbin/gmm-acc-stats2
/src/gmmbin/gmm-init-model-flat
/src/gmmbin/gmm-scale-accs
/src/gmmbin/gmm-get-stats-deriv
/src/gmmbin/gmm-est-rescale
/src/gmmbin/gmm-basis-fmllr-training
/src/gmmbin/gmm-boost-silence
/src/gmmbin/gmm-basis-fmllr-accs
/src/gmmbin/gmm-est-basis-fmllr
/src/gmmbin/gmm-latgen-map
/src/gmmbin/gmm-basis-fmllr-accs-gpost
/src/gmmbin/gmm-est-basis-fmllr-gpost
/src/gmmbin/gmm-acc-stats-ali
/src/gmmbin/gmm-decode-faster
/src/gmmbin/gmm-decode-simple
/src/gmmbin/gmm-decode-nbest
/src/gmmbin/gmm-align-compiled
/src/gmmbin/gmm-init-trans
/src/gmmbin/gmm-est-regtree-fmllr
/src/gmmbin/gmm-acc-stats-twofeats
/src/gmmbin/gmm-init-lvtln
/src/gmmbin/gmm-est-lvtln-trans
/src/gmmbin/gmm-train-lvtln-special
/src/gmmbin/gmm-init-model
/src/gmmbin/gmm-transform-means
/src/gmmbin/gmm-make-regtree
/src/gmmbin/gmm-decode-faster-regtree-fmllr
/src/gmmbin/gmm-post-to-gpost
/src/gmmbin/gmm-est-fmllr-gpost
/src/gmmbin/gmm-est-regtree-fmllr-ali
/src/gmmbin/gmm-est-regtree-mllr
/src/gmmbin/gmm-compute-likes
/src/gmmbin/gmm-decode-faster-regtree-mllr
/src/gmmbin/gmm-et-apply-c
/src/gmmbin/gmm-latgen-simple
/src/gmmbin/gmm-rescore-lattice
/src/gmmbin/gmm-decode-biglm-faster
/src/gmmbin/gmm-est-gaussians-ebw
/src/gmmbin/gmm-est-weights-ebw
/src/gmmbin/gmm-latgen-faster
/src/gmmbin/gmm-global-acc-stats
/src/gmmbin/gmm-global-est
/src/gmmbin/gmm-global-acc-stats-twofeats
/src/gmmbin/gmm-adapt-map
/src/gmmbin/gmm-est-fmllr-raw
/src/gmmbin/gmm-est-fmllr-raw-gpost
/src/gmmbin/gmm-global-info
/src/gmmbin/gmm-global-init-from-feats
/src/gmmbin/gmm-latgen-faster-parallel
/src/gmmbin/gmm-latgen-tracking

# /src/hmm/
/src/hmm/.depend.mk
/src/hmm/hmm-topology-test
/src/hmm/hmm-utils-test

# /src/ivectorbin/
/src/ivectorbin/.depend.mk
/src/ivectorbin/compute-eer
/src/ivectorbin/compute-vad
/src/ivectorbin/ivector-compute-dot-products
/src/ivectorbin/ivector-compute-lda
/src/ivectorbin/ivector-compute-plda
/src/ivectorbin/ivector-copy-plda
/src/ivectorbin/ivector-extract
/src/ivectorbin/ivector-extractor-acc-stats
/src/ivectorbin/ivector-extractor-est
/src/ivectorbin/ivector-extractor-init
/src/ivectorbin/ivector-extractor-sum-accs
/src/ivectorbin/ivector-mean
/src/ivectorbin/ivector-normalize-length
/src/ivectorbin/ivector-plda-scoring
/src/ivectorbin/ivector-subtract-global-mean
/src/ivectorbin/ivector-transform
/src/ivectorbin/select-voiced-frames

# /src/kwsbin/
/src/kwsbin/.depend.mk
/src/kwsbin/generate-proxy-keywords
/src/kwsbin/kws-index-union
/src/kwsbin/kws-search
/src/kwsbin/lattice-to-kws-index
/src/kwsbin/transcripts-to-fsts

# /src/lat/
/src/lat/.depend.mk
/src/lat/kaldi-lattice-test

# /src/latbin/
/src/latbin/.depend.mk
/src/latbin/lattice-prune
/src/latbin/lattice-rmali
/src/latbin/lattice-compose
/src/latbin/lattice-boost-ali
/src/latbin/lattice-copy
/src/latbin/lattice-to-fst
/src/latbin/lattice-to-phone-lattice
/src/latbin/lattice-interp
/src/latbin/lattice-project
/src/latbin/lattice-add-trans-probs
/src/latbin/lattice-difference
/src/latbin/lattice-word-align
/src/latbin/nbest-to-linear
/src/latbin/nbest-to-lattice
/src/latbin/lattice-1best
/src/latbin/linear-to-nbest
/src/latbin/lattice-mbr-decode
/src/latbin/lattice-to-mpe-post
/src/latbin/lattice-copy-backoff
/src/latbin/nbest-to-ctm
/src/latbin/lattice-determinize-pruned
/src/latbin/lattice-to-ctm-conf
/src/latbin/lattice-best-path
/src/latbin/lattice-equivalent
/src/latbin/lattice-to-nbest
/src/latbin/lattice-lmrescore
/src/latbin/lattice-scale
/src/latbin/lattice-union
/src/latbin/lattice-to-post
/src/latbin/lattice-determinize
/src/latbin/lattice-oracle
/src/latbin/lattice-align-words
/src/latbin/lattice-arcgraph
/src/latbin/lattice-add-penalty
/src/latbin/lattice-align-phones
/src/latbin/lattice-align-words-lexicon
/src/latbin/lattice-combine
/src/latbin/lattice-depth
/src/latbin/lattice-depth-per-frame
/src/latbin/lattice-determinize-phone-pruned
/src/latbin/lattice-determinize-phone-pruned-parallel
/src/latbin/lattice-determinize-pruned-parallel
/src/latbin/lattice-limit-depth
/src/latbin/lattice-minimize
/src/latbin/lattice-push
/src/latbin/lattice-rescore-mapped
/src/latbin/lattice-reverse
/src/latbin/lattice-to-smbr-post

# /src/lm/
/src/lm/.depend.mk
/src/lm/lm-lib-test

# /src/matrix/
/src/matrix/.depend.mk
/src/matrix/Matrix.vcxproj
/src/matrix/matrix-lib-test
/src/matrix/kaldi-gpsr-test

# /src/nnet/
/src/nnet/.depend.mk
/src/nnet/nnet-test

# /src/nnetbin/
/src/nnetbin/.depend.mk
/src/nnetbin/nnet-train-xent-hardlab-perutt
/src/nnetbin/nnet-train-xent-hardlab-frmshuff
/src/nnetbin/nnet-train-mse-tgtmat-frmshuff
/src/nnetbin/nnet-forward
/src/nnetbin/nnet-copy
/src/nnetbin/rbm-train-cd1-frmshuff
/src/nnetbin/rbm-convert-to-nnet
/src/nnetbin/nnet-trim-n-last-transforms
/src/nnetbin/nnet-train-mmi-sequential
/src/nnetbin/cmvn-to-nnet
/src/nnetbin/nnet-concat
/src/nnetbin/nnet-info
/src/nnetbin/nnet-initialize
/src/nnetbin/nnet-kl-hmm-acc
/src/nnetbin/nnet-kl-hmm-mat-to-component
/src/nnetbin/nnet-train-frmshuff
/src/nnetbin/nnet-train-mpe-sequential
/src/nnetbin/nnet-train-perutt
/src/nnetbin/transf-to-nnet

# /src/nnet2/
/src/nnet2/.depend.mk
/src/nnet2/nnet-component-test

# /src/nnet2bin/
/src/nnet2bin/.depend.mk
/src/nnet2bin/nnet-align-compiled
/src/nnet2bin/nnet-am-average
/src/nnet2bin/nnet-am-combine
/src/nnet2bin/nnet-am-compute
/src/nnet2bin/nnet-am-copy
/src/nnet2bin/nnet-am-fix
/src/nnet2bin/nnet-am-info
/src/nnet2bin/nnet-am-init
/src/nnet2bin/nnet-am-limit-rank
/src/nnet2bin/nnet-am-limit-rank-final
/src/nnet2bin/nnet-am-mixup
/src/nnet2bin/nnet-am-rescale
/src/nnet2bin/nnet-am-shrink
/src/nnet2bin/nnet-am-stats
/src/nnet2bin/nnet-am-widen
/src/nnet2bin/nnet-combine
/src/nnet2bin/nnet-combine-a
/src/nnet2bin/nnet-combine-egs-discriminative
/src/nnet2bin/nnet-combine-fast
/src/nnet2bin/nnet-compare-hash-discriminative
/src/nnet2bin/nnet-compute
/src/nnet2bin/nnet-compute-from-egs
/src/nnet2bin/nnet-compute-prob
/src/nnet2bin/nnet-copy-egs
/src/nnet2bin/nnet-copy-egs-discriminative
/src/nnet2bin/nnet-get-egs
/src/nnet2bin/nnet-get-egs-discriminative
/src/nnet2bin/nnet-get-feature-transform
/src/nnet2bin/nnet-get-feature-transform-multi
/src/nnet2bin/nnet-get-preconditioner
/src/nnet2bin/nnet-get-weighted-egs
/src/nnet2bin/nnet-gradient
/src/nnet2bin/nnet-init
/src/nnet2bin/nnet-insert
/src/nnet2bin/nnet-latgen-faster
/src/nnet2bin/nnet-latgen-faster-parallel
/src/nnet2bin/nnet-limit-degradation
/src/nnet2bin/nnet-logprob
/src/nnet2bin/nnet-logprob-parallel
/src/nnet2bin/nnet-logprob2
/src/nnet2bin/nnet-logprob2-parallel
/src/nnet2bin/nnet-modify-learning-rates
/src/nnet2bin/nnet-normalize-stddev
/src/nnet2bin/nnet-perturb-egs
/src/nnet2bin/nnet-perturb-egs-fmllr
/src/nnet2bin/nnet-precondition
/src/nnet2bin/nnet-randomize-frames
/src/nnet2bin/nnet-select-egs
/src/nnet2bin/nnet-show-progress
/src/nnet2bin/nnet-shrink
/src/nnet2bin/nnet-shuffle-egs
/src/nnet2bin/nnet-shuffle-egs-discriminative
/src/nnet2bin/nnet-subset-egs
/src/nnet2bin/nnet-train-discriminative-parallel
/src/nnet2bin/nnet-train-discriminative-simple
/src/nnet2bin/nnet-train-ensemble
/src/nnet2bin/nnet-train-lbfgs
/src/nnet2bin/nnet-train-parallel
/src/nnet2bin/nnet-train-simple
/src/nnet2bin/nnet-train-transitions
/src/nnet2bin/raw-nnet-concat
/src/nnet2bin/raw-nnet-info

# /src/sgmm/
/src/sgmm/.depend.mk
/src/sgmm/am-sgmm-test
/src/sgmm/estimate-am-sgmm-test
/src/sgmm/fmllr-sgmm-test

# /src/sgmmbin/
/src/sgmmbin/.depend.mk
/src/sgmmbin/init-ubm
/src/sgmmbin/sgmm-init
/src/sgmmbin/sgmm-gselect
/src/sgmmbin/sgmm-est-fmllr
/src/sgmmbin/sgmm-acc-stats
/src/sgmmbin/sgmm-est-spkvecs
/src/sgmmbin/sgmm-post-to-gpost
/src/sgmmbin/sgmm-acc-stats-gpost
/src/sgmmbin/sgmm-est-spkvecs-gpost
/src/sgmmbin/sgmm-comp-prexform
/src/sgmmbin/sgmm-est-fmllr-gpost
/src/sgmmbin/sgmm-acc-fmllrbasis-ali
/src/sgmmbin/sgmm-est-fmllrbasis
/src/sgmmbin/sgmm-calc-distances
/src/sgmmbin/sgmm-normalize
/src/sgmmbin/sgmm-latgen-simple
/src/sgmmbin/sgmm-latgen-faster
/src/sgmmbin/sgmm-rescore-lattice
/src/sgmmbin/sgmm-copy
/src/sgmmbin/sgmm-write-ubm
/src/sgmmbin/sgmm-mixup
/src/sgmmbin/sgmm-info
/src/sgmmbin/sgmm-acc-tree-stats
/src/sgmmbin/sgmm-sum-tree-stats
/src/sgmmbin/sgmm-build-tree
/src/sgmmbin/sgmm-cluster-phones
/src/sgmmbin/sgmm-init-from-tree-stats
/src/sgmmbin/sgmm-est-ebw
/src/sgmmbin/sgmm-acc-stats2
/src/sgmmbin/sgmm-est-multi
/src/sgmmbin/sgmm-align-compiled
/src/sgmmbin/sgmm-acc-stats-ali
/src/sgmmbin/sgmm-sum-accs
/src/sgmmbin/sgmm-est
/src/sgmmbin/sgmm-decode-faster

# /src/sgmm2/
/src/sgmm2/.depend.mk
/src/sgmm2/am-sgmm-test
/src/sgmm2/estimate-am-sgmm-test
/src/sgmm2/fmllr-sgmm-test

# /src/sgmm2bin/
/src/sgmm2bin/.depend.mk
/src/sgmm2bin/sgmm2-init
/src/sgmm2bin/sgmm2-acc-stats
/src/sgmm2bin/sgmm2-align-compiled
/src/sgmm2bin/sgmm2-post-to-gpost
/src/sgmm2bin/sgmm2-latgen-faster
/src/sgmm2bin/sgmm2-rescore-lattice
/src/sgmm2bin/sgmm2-copy
/src/sgmm2bin/sgmm2-info
/src/sgmm2bin/sgmm2-est-ebw
/src/sgmm2bin/sgmm2-acc-stats2
/src/sgmm2bin/sgmm2-comp-prexform
/src/sgmm2bin/sgmm2-est-fmllr
/src/sgmm2bin/sgmm2-project
/src/sgmm2bin/sgmm2-gselect
/src/sgmm2bin/sgmm2-est
/src/sgmm2bin/sgmm2-sum-accs
/src/sgmm2bin/sgmm2-est-spkvecs
/src/sgmm2bin/sgmm2-acc-stats-gpost
/src/sgmm2bin/sgmm2-est-spkvecs-gpost
/src/sgmm2bin/sgmm2-latgen-faster-parallel

# /src/thread/
/src/thread/.depend.mk

# /src/transform/
/src/transform/.depend.mk
/src/transform/regtree-mllr-diag-gmm-test
/src/transform/regtree-fmllr-diag-gmm-test
/src/transform/lda-estimate-test
/src/transform/regression-tree-test
/src/transform/fmllr-diag-gmm-test
/src/transform/exponential-transform-test
/src/transform/fmpe-test

# /src/tree/
/src/tree/.depend.mk
/src/tree/event-map-test
/src/tree/context-dep-test
/src/tree/build-tree-utils-test
/src/tree/cluster-utils-test
/src/tree/build-tree-test

# /src/util/
/src/util/.depend.mk
/src/util/hash-list-test
/src/util/stl-utils-test
/src/util/timer-test
/src/util/kaldi-table-test
/src/util/const-integer-set-test
/src/util/edit-distance-test
/src/util/kaldi-io-test
/src/util/text-utils-test
/src/util/parse-options-test
