#directories
src/CMakeFiles/
CMakeFiles/
build/
inst/
.deps/
.DS_Store/
.idea/
autom4te.cache/

#files
Makefile
Makefile.in
cmake_install.cmake
CMakeCache.txt
*.o
*.lo
aclocal.m4
ar-lib
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
install_manifest.txt
libtool
ltmain.sh
m4
missing
stamp-h1
