# In RM, the optimal decode LMWT is in range 2..5, which is different from usual 10..15
# (it is caused by using simple rule-based LM, instead of n-gram LM),
scoring_opts="--min-lmwt 2 --max-lmwt 10"
# Still, it is better to use --acwt 0.1, both for decoding and sMBR,
acwt=0.1
# For this small task we can afford to have large beams,
beam=30.0 # beam for decoding.  Was 13.0 in the scripts.
lattice_beam=18.0 # this has most effect on size of the lattices.
