# RM setup has weird optimal scaling (ACWT is 1/3)
#
# This is much larger than 1/10 on SWBD, we use pseudo LM, 
# so LM scores are likely to be overboosted. 
# For the discriminative training we will still use acwt 0.1,
# scaling down the LM scores did not bring significant improvement.
#
acwt=0.1
# Large acwt, beams need to be larger too:
beam=30.0 # beam for decoding.  Was 13.0 in the scripts.
lattice_beam=18.0 # this has most effect on size of the lattices.
# We search for optimal WER in low LMWTs:
scoring_opts="--min-lmwt 2 --max-lmwt 10" # search acoustic scale in larger values 
