*.tar.bz2
*.tar.gz
*.tgz
*.zip
*.bak

env.sh

ATLAS/
BeamformIt/
CLAPACK_include
Miniconda3-latest-Linux-x86_64.sh
OpenBLAS/
bazel/
cub
cub-*/
faster-rnnlm/
ffv-*/
irstlm/
jieba/
kaldi_lm/
liblbfgs-*/
libsndfile-*/
mitlm/
mmseg-*/
morfessor*/
mpg123
mpg123-*/
nara_wpe/
nkf-*/
ngram-*/
openfst
openfst-*/
pitch_trackers/
phonetisaurus-g2p/
pocolm/
portaudio/
pthreads
python/
quicknet-*/
rnnlm-*/
sctk
sctk-*/
sequitur/
sequitur-g2p
sequitur-g2p/
speex
speex-*/
sph2pipe
sph2pipe_v2.5/
srilm/
tensorflow/
