*.o
*.a
*.fst
*.scp
*.tmp
*.gz
tmpf
bin/build-pfile-from-ali
bin/copy-post
bin/duplicate-matrix
bin/extract-ctx
bin/get-post-on-ali
bin/latgen-tracking-mapped
bin/logprob-to-post
bin/matrix-logprob
bin/matrix-sum
bin/pdf-to-counts
bin/post-to-pdf-post
bin/post-to-phone-post
bin/prob-to-post
featbin/copy-feats-to-htk
featbin/interpolate-pitch
featbin/paste-feats
featbin/process-pitch-feats
featbin/select-feats
featbin/subsample-feats
fstbin/fstpushspecial
fstbin/fstrhocompose
fstbin/fsts-to-transcripts
gmmbin/gmm-adapt-map
gmmbin/gmm-est-fmllr-raw
gmmbin/gmm-est-fmllr-raw-gpost
gmmbin/gmm-latgen-faster-parallel
gmmbin/gmm-latgen-tracking
kwsbin/generate-proxy-keywords
kwsbin/kws-index-union
kwsbin/kws-search
kwsbin/lattice-to-kws-index
kwsbin/transcripts-to-fsts
latbin/lattice-add-penalty
latbin/lattice-align-phones
latbin/lattice-align-words-lexicon
latbin/lattice-combine
latbin/lattice-depth
latbin/lattice-determinize-pruned-parallel
latbin/lattice-push
latbin/lattice-rescore-mapped
latbin/lattice-reverse
latbin/lattice-to-smbr-post
nnet-cpubin/nnet-align-compiled
nnet-cpubin/nnet-am-average
nnet-cpubin/nnet-am-combine
nnet-cpubin/nnet-am-compute
nnet-cpubin/nnet-am-copy
nnet-cpubin/nnet-am-fix
nnet-cpubin/nnet-am-info
nnet-cpubin/nnet-am-init
nnet-cpubin/nnet-am-limit-rank
nnet-cpubin/nnet-am-mixup
nnet-cpubin/nnet-am-rescale
nnet-cpubin/nnet-am-shrink
nnet-cpubin/nnet-am-stats
nnet-cpubin/nnet-combine
nnet-cpubin/nnet-combine-a
nnet-cpubin/nnet-combine-fast
nnet-cpubin/nnet-compute-prob
nnet-cpubin/nnet-copy-egs
nnet-cpubin/nnet-get-egs
nnet-cpubin/nnet-get-preconditioner
nnet-cpubin/nnet-gradient
nnet-cpubin/nnet-init
nnet-cpubin/nnet-insert
nnet-cpubin/nnet-latgen-faster
nnet-cpubin/nnet-latgen-faster-parallel
nnet-cpubin/nnet-logprob
nnet-cpubin/nnet-logprob-parallel
nnet-cpubin/nnet-logprob2
nnet-cpubin/nnet-logprob2-parallel
nnet-cpubin/nnet-precondition
nnet-cpubin/nnet-randomize-frames
nnet-cpubin/nnet-select-egs
nnet-cpubin/nnet-shrink
nnet-cpubin/nnet-shuffle-egs
nnet-cpubin/nnet-subset-egs
nnet-cpubin/nnet-train
nnet-cpubin/nnet-train-lbfgs
nnet-cpubin/nnet-train-parallel
nnet-cpubin/nnet-train-simple
nnet-cpubin/nnet-train-transitions
nnetbin/cmvn-to-nnet
nnetbin/nnet-concat
nnetbin/nnet-train-mpe-sequential
nnetbin/nnet-train-xent-hardlab-frmshuff-prior
nnetbin/transf-to-nnet
onlinebin/online-gmm-decode-faster
onlinebin/online-net-client
onlinebin/online-server-gmm-decode-faster
onlinebin/online-wav-gmm-decode-faster
feat/tmp.test.wav.*
fstext/push-special-test
gmm/tmp_stats
gmm/tmpfb
gmm/tmpfeats
nnet-cpu/nnet-precondition-test
sgmm/estimate-am-sgmm-multi-test
sgmm/tmpfb
sgmm2/tmpfb
thread/kaldi-task-sequence-test
thread/kaldi-thread-test
tied/tmpfb
transform/fmllr-raw-test
transform/tmp_regtree
transform/tmp_stats
transform/tmpfb
sgmm2bin/sgmm2-latgen-faster-parallel
